<%= content_for :active_navtab, "crosswords" %>

<div class="row">
  <div class="span2">
    <h1>New crossword</h1><p><%= link_to 'Back', crosswords_path %></p>
  </div>
  <div class="span10"><div class="row"><%= render 'form' %></div></div>
</div>

