<web-app>
	<!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext 
		instead of the default XmlWebApplicationContext>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/authtoy-servlet.xml</param-value>
	</context-param>

	<!-- Bootstrap the root application context as usual using ContextLoaderListener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- Declare a Restlet SpringServerServlet. Configure names of the Application 
         and Compomnent beans from the root application context above.  Note that
         Restlet does not use a second Servlet-scoped Spring Context? -->
	<servlet>
		<servlet-name>authtoy</servlet-name>
		<servlet-class>org.restlet.ext.spring.SpringServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.component</param-name>
			<param-value>authtoyComponent</param-value>
		</init-param>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>authtoyApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.restlet.clients</param-name>
			<param-value>FILE</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- map all requests for /app/* to the dispatcher servlet -->
	<servlet-mapping>
		<servlet-name>authtoy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>